
<mat-accordion multi="true" *ngIf="posts && posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header >
      <mat-panel-title> {{ post?.title }} </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ post?.content }}</p>
    <mat-action-row>
      <button mat-button style="color: primary;"><a [routerLink]="['/edit', post.id]">Edit</a></button>
      <button mat-button style="color: red;" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [pageSizeOptions]= "pageSizeOptions" [pageSize]= "pageSize" [length]= "totalPosts" (page)="onChangePage($event)" ></mat-paginator>
<p class="mat-body-1" *ngIf="!posts || posts.length <= 0">No Posts Added Yet </p>
