<mat-card>
  <mat-spinner> </mat-spinner>
  <form
    *ngIf="!isLoading"
    (ngSubmit)="onAddPost(postForm)"
    #postForm="ngForm"
    style="display: flex; flex-direction: column; gap: 1rem"
  >
    <!-- Title Field -->
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        name="title"
        required
        placeholder="Post Title"
        #title="ngModel"
        [ngModel]="post?.title"
      />
      <mat-error *ngIf="title.invalid">Please enter valid title</mat-error>
    </mat-form-field>

    <!-- Content Field -->
    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        rows="6"
        name="content"
        #content="ngModel"
        placeholder="Post Content"
        required
        [ngModel]="post?.content"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter valid content</mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button color="accent" mat-raised-button type="submit">Save Post</button>
  </form>
</mat-card>
