mat-card {
  width: 60%;
  height: 10%;
  margin-top: 1rem;
  background-color: black;
  color: black;
}

textarea{
  background-color: white;
  color: black;

}



form {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Adjust spacing as needed */
}
input[type="file"] {
  display: none;
}
