<mat-card>
  <mat-spinner> </mat-spinner>
  <form
    *ngIf="!isLoading"
    (ngSubmit)="onAddPost()"
    [formGroup] = "form"
    style="display: flex; flex-direction: column; gap: 1rem"
  >
    <!-- Title Field -->
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        name="title"
        required
        formControlName="title"
        placeholder="Post Title"
      />
      <mat-error *ngIf="form?.get('title')?.invalid">Please enter valid title</mat-error>
    </mat-form-field>
    <div style="margin-top: 30px">
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker class="type" (change)="onImageUploadPicked($event)" />
    </div>
    <div class="imagePreview" *ngIf="imagePreview">
      <img [src]="imagePreview" alt="form.get(title).value" />
    </div>

    <!-- Content Field -->
    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        rows="6"
        name="content"
        formControlName="content"
        placeholder="Post Content"
        required
      ></textarea>
      <mat-error *ngIf="form?.get('content')?.invalid">Please enter valid content</mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button color="accent" mat-raised-button type="submit">Save Post</button>
  </form>
</mat-card>
